node_modules/**
src/**
tests/**
scripts/**
out/**
coverage/**
dist/meta.json
releases/**
*.vsix
.c8rc.json
.vscode/**
.github/**
prog2-lessons/**
*.log
.git/**
.gitignore
eslint.config.mjs
tsconfig.json
esbuild.mjs
rebuild-vsix.bat
